:root {
    --25: 25%;
    --50: 50%;
    --100: 100%;
}

#brand-heading {
    text-align: center;
    margin: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.item {
    box-shadow: 0.1px 0.1px 0.3px 0.3px #ccc;
    padding: 3px;
    transition: all 0.4s;
}

.title-div {
    width: 100px;
    overflow: scroll;
    white-space: nowrap;

    padding: 0 4px;
}

.bmLink {
    color: rgb(64, 64, 64);
    text-decoration: none;
    font-size: 12px;
}

.bmLink:hover {
    color: blue;
    text-decoration: underline;
}

.rmv-btn-div {
    margin-left: 5px;
}

.bm-rmv-btn {
    background-color: #fff;
    color: rgb(255, 90, 90);
    border: none;
    cursor: pointer;
}

.bm-rmv-btn:hover {
    color: red;
}

/* custom flex classes */
.flex-basis-25 {
    flex-basis: var(--25);
}
.flex-basis-50 {
    flex-basis: var(--50);
}
.flex-basis-100 {
    flex-basis: var(--100);
}